.containerNosotros {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 35vh;
}

.containerNosotros h2 {
  width: 95%;
  color: white;
  font-size: 7.8vw;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 7px;
  z-index: -2;
  margin-top: 2.5%;
  line-height: 0.9;
}

.containerFlex {
  width: 95%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 2.5%;
}

.containerFlex p {
  width: 70%;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1.2;
}

.channels {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.channels a {
  text-decoration: none;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channels a:hover {
  background-color: white;
}

.channels a .icon {
  color: white;
  font-size: 1.6rem;
}

.channels a:hover .icon {
  color: #004a9e;
}

@media (max-width: 850px) {
  .containerNosotros {
    justify-content: flex-start;
    margin-top: 0px;
    gap: 20px;
  }

  .containerNosotros h2 {
    width: 90%;
    font-size: 12.5vw;
    letter-spacing: 2px;
    margin-top: 0%;
  }

  .containerFlex {
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-bottom: auto;
}


.containerFlex p {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1.2;
}

.channels {
  width: auto;
  flex-direction: row;
  gap: 0px;
}

}
